.xmasTree {
  display: block;
}

.tree {
  background-image: url("/slope.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 100vw;
  padding: 2rem 4rem;
}

.tree svg path.treeStar {
  fill: #F6E049;
  animation: treeStar 0.5s linear infinite;
}

.tree svg path.greenLight {
  fill: #008667;
  animation: greenLight 3s linear infinite;
}

.tree svg path.redLight {
  fill: #ff0066;
  animation: redLight 3s linear infinite;
}

.tree svg path.yellowLight {
  fill: #a38e00;
  animation: yellowLight 3s linear infinite;
  animation-delay: 1.5s;
}

.tree svg path.purpleLight {
  fill: #0055ff;
  animation: purpleLight 3s linear infinite;
  animation-delay: 1.5s;
}


@keyframes greenLight {
  0% {
    fill: #008667;
  }

  50% {
    fill: #7FD6C2;
  }

  100% {
    fill: #008667;
  }
}

@keyframes yellowLight {
  0% {
    fill: #a38e00;
  }

  50% {
    fill: #F6E049;
  }

  100% {
    fill: #a38e00;
  }
}

@keyframes redLight {
  0% {
    fill: #ff0066;
  }

  50% {
    fill: #E0719E;
  }

  100% {
    fill: #ff0066;
  }
}

@keyframes purpleLight {
  0% {
    fill: #0055ff;
  }

  50% {
    fill: #AAC6FC;
  }

  100% {
    fill: #0055ff;
  }
}

@keyframes treeStar {
  0% {
    fill: #F6E049;
  }

  50% {
    fill: #e6c700;
  }

  100% {
    fill: #F6E049;
  }
}