.identitiesCard {
  cursor: pointer !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  max-width: 100%;
  overflow: hidden;
}

.identityTag,
.tagImg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.identityTag {
  overflow: hidden;
  white-space: nowrap;
  width: fit-content;
}

.identityTagIdentity {
  display: inline-block;
  margin-bottom: 2px;
  text-overflow: ellipsis;
}