.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 100%;
  height: auto;
  margin-top: 6%;
}

.searchBarWrapper {
  width: 100%;
  max-width: 516px;
  margin: 0 auto;
  position: relative;
}

.searchBarTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}