.lights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  transform: translate(0, -34px);
  padding: 0 16px;
}

.lightsToggle {
  transform: translate(0, 25px);
}

.lights svg {
  width: 122px;
  height: 65px;
}

.lights svg path.greenLight {
  fill: #008667;
  animation: greenLight 2s linear infinite;
}

.lights svg path.yellowLight {
  fill: #a38e00;
  animation: yellowLight 2s 2s linear infinite;
}

.lights svg path.redLight {
  fill: #ff0066;
  animation: redLight 2s linear infinite;
}

.lights svg path.purpleLight {
  fill: #0055ff;
  animation: purpleLight 2s 2s linear infinite;
}

@keyframes greenLight {
  0% {
    fill: #008667;
  }

  50% {
    fill: #7FD6C2;
  }

  100% {
    fill: #008667;
  }
}

@keyframes yellowLight {
  0% {
    fill: #a38e00;
  }

  50% {
    fill: #F6E049;
  }

  100% {
    fill: #a38e00;
  }
}

@keyframes redLight {
  0% {
    fill: #ff0066;
  }

  50% {
    fill: #E0719E;
  }

  100% {
    fill: #ff0066;
  }
}

@keyframes purpleLight {
  0% {
    fill: #0055ff;
  }

  50% {
    fill: #AAC6FC;
  }

  100% {
    fill: #0055ff;
  }
}